.herohome {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 50px;
  margin: auto;
  padding: 0 20px;
  padding-top: 170px;
  transition: all 0.3s ease;
}

.herohome .bg-img {
  position: absolute;
  top: 0;
  z-index: -9999;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  display: none;
}

.herohome .bg-img img {
  position: absolute;
  top: 0;
  width: 1920px;
  height: auto;
}

.herohome .bg-img .solid {
  display: none;
}

.herohome .title {
  font-size: 2.5rem;
  max-width: 660px;
}

.herohome .text {
  font-size: 1.2rem;
  max-width: 700px;
  line-height: 1.6;
}

.herohome button {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 20px 30px;
  border-radius: 100px;
  border: 2px solid transparent;
  gap: 10px;

  &:focus {
    border: 2px solid var(--text-dark-light);
  }
}

.herohome .tecnology {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}

.herohome .tecnology .icon {
  padding: 15px;
  border-radius: 100px;
  background-color: var(--black-soft);
  color: var(--white-color);
  position: relative;
  z-index: 1;
  &:hover::after {
    top: -33px;
    opacity: 1;
    transform: scale(100%);
    z-index: 99;
  }
  &:hover::before {
    opacity: 1;
    top: -12px;
    z-index: 99;
  }
  &::after {
    position: absolute;
    content: attr(data-text);
    top: 10px;
    background-color: var(--black-soft);
    padding: 5px 8px;
    font-size: 0.8rem;
    border-radius: 3px;
    transition: 0.3s ease;
    transform: scale(50%);
    z-index: -1;
    opacity: 0;
  }
  &::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--black-soft);
    top: 10px;
    transform: rotate(45deg);
    transition: 0.3s ease;
    z-index: -1;
    opacity: 0;
  }
}

.herohome .tecnology .icon svg {
  font-size: 1.7em;
}

.herohome .banner {
  background-color: var(--black-soft);
  border-radius: 30px;
  overflow: hidden;
  border: var(--thin-border);
  max-width: 100%;
}

.herohome .banner img {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: none;
}

html:not(.light) .herohome .banner img.dark {
  display: block;
}

html.light .herohome .banner img.light {
  display: block;
}

.herohome .cumpany {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--black-color);
  margin-top: -20px;
  border-radius: 20px;
  padding: 30px;
  border: var(--thin-border);
  gap: 10px;
  display: none;
}

.herohome .cumpany figure {
  transition: 0.3s ease;
  &:hover {
    transform: scale(110%);
  }
}

.herohome .cumpany img {
  width: 100%;
  max-width: 150px;
  height: auto;
}
@media (max-width: 550px) {
  .herohome {
    gap: 30px;
    padding-top: 120px;
  }
  .herohome .bg-img .neon {
    display: none;
  }
  .herohome .bg-img .solid {
    display: flex;
    opacity: 0.5;
  }
  html.light .herohome .bg-img img.light {
    display: none;
  }
  .herohome .title {
    font-size: 1.8rem;
  }

  .herohome .text {
    font-size: 1rem;
  }

  .herohome button {
    padding: 15px 25px;
  }

  .herohome .tecnology .icon svg {
    font-size: 1.3em;
  }

  .herohome .banner {
    border-radius: 20px;
  }
}

@media (max-width: 400px) {
  .herohome .banner {
    border-radius: 10px;
  }
}

@media (max-width: 372px) {
  .herohome .tecnology {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}
