* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", "Poppins", "Chakra Petch", sans-serif;
  font-display: swap;
  font-size: 1rem;
}

html {
  scroll-padding-top: 100px;
  font-family: "Outfit", "Poppins", "Chakra Petch", sans-serif;
  font-display: swap;
  color: var(--cor-do-texto);
  /* &::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--real-gray);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--real-dark);
  } */
}

:root {
  --red-color: #ff004c;
  --white-color: #fff;
  --blue-color: #144EE3;
  --blue-light-color: #4f74d1;
  --blue-color-hover: #24237c;
  --blue-transparent: #7977ff27;
  --gray-color: #313131;
  --real-gray: #9F9F9F;
  --real-dark: #2C2C2C;
  --text-color: #adadad;
  --text-dark-light: var(--only-light);
  --title-color: var(--white-color);
  --bg-color: #0a0f1a;
  --sec-bg-color: #181e29;
  --only-dark: #181e29;
  --only-light: #fff;
  --bg-gradient: linear-gradient(45deg, var(--blue-color), var(--red-color));
  --transparent-border: 1px solid transparent;
  --thin-border: 1px solid #8ebbff28;
  --normal-shadow: -8px 8px 20px #00000014;
}

.dark {
  --bg-color: var(--white-color);
  --text-color: var(--gray-color);
  --text-dark-light: var(--only-dark);
  --title-color: var(--only-dark);
  --blue-transparent: #2600ff27;
  --sec-bg-color: var(--white-color);
  --thin-border: 1px solid #525f7428;
}

body {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  /* border-inline: 1px solid #000; */
  font-family: "Outfit", "Poppins", "Chakra Petch", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color .2s ease, color .2s ease;
}

body::-webkit-scrollbar {
  width: 13px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--real-gray);
  border-radius: 10px;
  border: 2px solid var(--real-dark);
  transition: background-color .2s ease;
}

body::-webkit-scrollbar-track {
  background-color: var(--real-dark);
}

body::-webkit-scrollbar-button:single-button:vertical:decrement,
body::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 18px;
  width: 15px;
  background-color: var(--real-dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  border: 1px solid var(--real-dark);
}

body::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' fill='white'><path d='M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8L288 320c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z'></path></svg>");
}

body::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' fill='white'><path d='M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z'></path></svg>");
}

main {
  margin-top: 90px;
  height: 500dvh;
  width: 100%;
}

.icon,
a {
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: .3s ease;
}

a,
button {
  outline: 0;
  border: 0;
  transition: .2s ease;

  &:focus {
    outline: 2px solid var(--blue-color);
  }
}

ul {
  list-style: none;
  gap: 20px;
}

button {
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: inherit;
}

svg {
  font-size: 1.4rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--text-dark-light);
  font-weight: bold;
}