.btnchangetheme {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnchangetheme button {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: none;
  background: transparent;
  cursor: pointer;
}

.btnchangetheme button:focus {
  outline: none;
  background-color: var(--blue-transparent);
}

.btnchangetheme .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease, opacity 0.25s ease;
  color: var(--text-dark-light);
}

.btnchangetheme .icon.sun.enter {
  transform: translate(-50%, 100%);
  opacity: 0;
  animation: slideUpIn 0.25s forwards;
}

.btnchangetheme .icon.sun.exit {
  transform: translate(-50%, -50%);
  opacity: 1;
  animation: slideUpOut 0.25s forwards;
}

.btnchangetheme .icon.moon.enter {
  transform: translate(-50%, 100%);
  opacity: 0;
  animation: slideUpIn 0.25s forwards;
}

.btnchangetheme .icon.moon.exit {
  transform: translate(-50%, -50%);
  opacity: 1;
  animation: slideUpOut 0.25s forwards;
}

@keyframes slideUpIn {
  from {
    transform: translate(-50%, 100%);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes slideUpOut {
  from {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  to {
    transform: translate(-50%, -150%);
    opacity: 0;
  }
}

@media (max-width:600px) {
  .btnchangetheme button:focus {
    background-color: transparent;
  }
}